flows.json
[
    {
        "id": "7d62a07d6ecd29bb",
        "type": "tab",
        "label": "nongdan_gc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9abe1c37dd51772d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fea99072f60e6f96",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#f9d423",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#f9d423",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#f9d423",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#fbe36d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#f9d423",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "NongDan.gc",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9f2a176a919ae016",
        "type": "ui_tab",
        "name": "ROOM 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aafdf2f6f62a7cfd",
        "type": "ui_tab",
        "name": "ROOM 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "80b5816eab4f0646",
        "type": "ui_group",
        "name": "timeline",
        "tab": "9f2a176a919ae016",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "021efc9c770c32ae",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "9f2a176a919ae016",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "abf075e9062075d9",
        "type": "ui_group",
        "name": "Weather Online",
        "tab": "9f2a176a919ae016",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bae53f2e9f2ac2c3",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "aafdf2f6f62a7cfd",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "b97c98c008eeab8e",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "aafdf2f6f62a7cfd",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "c53df9aaf0aee9f8",
        "type": "inject",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "073ad6f2e53fbc0b"
            ]
        ]
    },
    {
        "id": "073ad6f2e53fbc0b",
        "type": "http request",
        "z": "7d62a07d6ecd29bb",
        "name": "weather_api",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=My tho&appid=cdc90a1efb12dda5b168df9ed499c9b4",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "732e90c8eaa9cb3d",
                "521991844135fe6c",
                "56de3147b646bf6d",
                "aec4404041dc9292",
                "c9517e7234670cd9"
            ]
        ]
    },
    {
        "id": "732e90c8eaa9cb3d",
        "type": "debug",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "521991844135fe6c",
        "type": "change",
        "z": "7d62a07d6ecd29bb",
        "name": "payload.Wind.Speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "c6547f477604f66f"
            ]
        ]
    },
    {
        "id": "c6547f477604f66f",
        "type": "ui_text",
        "z": "7d62a07d6ecd29bb",
        "group": "abf075e9062075d9",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "weather.Wind.Speed",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "56de3147b646bf6d",
        "type": "change",
        "z": "7d62a07d6ecd29bb",
        "name": "payload.Main.Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 280,
        "wires": [
            [
                "6a1651de90c58422"
            ]
        ]
    },
    {
        "id": "6a1651de90c58422",
        "type": "ui_text",
        "z": "7d62a07d6ecd29bb",
        "group": "abf075e9062075d9",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "weather.Main.Temp",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "c9517e7234670cd9",
        "type": "change",
        "z": "7d62a07d6ecd29bb",
        "name": "payload.Main.Huminity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 240,
        "wires": [
            [
                "ec89797db986ab70"
            ]
        ]
    },
    {
        "id": "ec89797db986ab70",
        "type": "ui_text",
        "z": "7d62a07d6ecd29bb",
        "group": "abf075e9062075d9",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "weather.Main.Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "aec4404041dc9292",
        "type": "change",
        "z": "7d62a07d6ecd29bb",
        "name": "payload.NameCity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "83c2d9a18f65d8a2"
            ]
        ]
    },
    {
        "id": "83c2d9a18f65d8a2",
        "type": "ui_text",
        "z": "7d62a07d6ecd29bb",
        "group": "abf075e9062075d9",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "weather.Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec85d8af56883037",
        "type": "http in",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=My tho&appid=cdc90a1efb12dda5b168df9ed499c9b4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 480,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b9e799bfb4e30563",
        "type": "ui_ui_control",
        "z": "7d62a07d6ecd29bb",
        "name": "nongdan.gc",
        "events": "all",
        "x": 210,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "20bb4344fa8a5454",
        "type": "ui_template",
        "z": "7d62a07d6ecd29bb",
        "group": "80b5816eab4f0646",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "11",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0996c29b77a7691b",
        "type": "ui_toast",
        "z": "7d62a07d6ecd29bb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 200,
        "y": 560,
        "wires": []
    },
    {
        "id": "64ae6e2a8ac28fc9",
        "type": "ui_audio",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "group": "abf075e9062075d9",
        "voice": "",
        "always": "",
        "x": 380,
        "y": 540,
        "wires": []
    },
    {
        "id": "07ce0910a5def7c1",
        "type": "ui_colour_picker",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "label": "",
        "group": "abf075e9062075d9",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 610,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ccbd1079ff864262",
        "type": "ui_text_input",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "80b5816eab4f0646",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "23554f2481d5e0da",
        "type": "ui_button",
        "z": "7d62a07d6ecd29bb",
        "name": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 590,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "9abe1c37dd51772d",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "broker": "10e78a89.5b4fd5",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "9abe1c37dd51772d",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 284,
        "y": 287,
        "wires": [
            [
                "cc79021b.9a751",
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "9abe1c37dd51772d",
        "name": "",
        "label": "Output",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "9abe1c37dd51772d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 481,
        "y": 254,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "9abe1c37dd51772d",
        "name": "",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 273,
        "y": 171,
        "wires": [
            [
                "22efa7b7.544a28",
                "df37e6b7.64c1c8"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "9abe1c37dd51772d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 138,
        "wires": []
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "9abe1c37dd51772d",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 481,
        "y": 314,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "df37e6b7.64c1c8",
        "type": "ui_gauge",
        "z": "9abe1c37dd51772d",
        "name": "",
        "group": "61285987.c20328",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b3d9",
            "#0073e6",
            "#001bd7"
        ],
        "seg1": "33",
        "seg2": "66",
        "className": "",
        "x": 460,
        "y": 198,
        "wires": []
    }
]